# Water Bodies v1.0.0

Detect water using green and near-infrared reflectance, NDWI and Otsu.

> This software is licensed under the terms of the []() license - SPDX short identifier: [](https://spdx.org/licenses/)
>
> 2026-10-07 - 2026-10-07T06:31:54.730 Copyright [EOAP](mailto:None) - 

## Project Team

### Authors

| Name | Email | Organization | Role | Identifier |
|------|-------|--------------|------|------------|
| Brito, Fabrice | [fabrice.brito@terradue.com](mailto:fabrice.brito@terradue.com) | [Terradue](None) | [N/A](None) | [None](None) |


### Contributors

The are no contributors for this project.


## None

None can be found on [https://github.com/eoap/waterbodies-learning](https://github.com/eoap/waterbodies-learning).


## Runtime environment

### Supported Operating Systems

The are no Supported Operating Systems specified for this project.


### Requirements

The are no Requirements specified for this project.


---


## waterbodies

### CWL Class

[Workflow](https://www.commonwl.org/v1.2/Workflow.html#Workflow)

### Requirements

* [ScatterFeatureRequirement](https://www.commonwl.org/v1.2/Workflow.html#ScatterFeatureRequirement)

### Inputs

| Id | Type | Label | Doc |
|----|------|-------|-----|
| `item` | [Directory](https://www.commonwl.org/v1.2/Workflow.html#Directory) | None | None |
| `aoi` | [string](https://www.commonwl.org/v1.2/Workflow.html#CWLType) | None | None |
| `epsg` | [string](https://www.commonwl.org/v1.2/Workflow.html#CWLType) | None | None |
| `bands` | `array` of [string](https://www.commonwl.org/v1.2/Workflow.html#CWLType) | None | None |


### Steps

| Id | Runs | Label | Doc |
|----|------|-------|-----|
| [crop](#crop) | `#crop` | None | None |
| [norm-diff](#norm-diff) | `#norm-diff` | None | None |
| [otsu](#otsu) | `#otsu` | None | None |
| [stac](#stac) | `#stac` | None | None |


### Outputs

| Id | Type | Label | Doc |
|----|------|-------|-----|
| `stac-catalog` | [Directory](https://www.commonwl.org/v1.2/Workflow.html#Directory) | None | None |


### OGC API - Processes

When `waterbodies` [Workflow](https://www.commonwl.org/v1.2/Workflow.html#Workflow) is exposed through [OGC API - Processes - Part 1: Core](https://docs.ogc.org/is/18-062r2/18-062r2.html), `inputs` and `outputs` fields below represent the interface of the [getProcessDescription](https://developer.ogc.org/api/processes/index.html#tag/ProcessDescription/operation/getProcessDescription) API. 



#### Inputs

![waterbodies OGC API Processes JSON Inputs schema](./waterbodies/ogc_processes_inputs.svg "waterbodies  diagram")

#### Outputs

![waterbodies OGC API Processes JSON Outputs schema](./waterbodies/ogc_processes_outputs.svg "waterbodies  diagram")


### UML Diagrams


#### Activity diagram

Learn more about the [Activity diagram](https://en.wikipedia.org/wiki/Activity_diagram) below.

![waterbodies flow diagram](./waterbodies/activity.svg "waterbodies Activity diagram")

#### Component diagram

Learn more about the [Component diagram](https://en.wikipedia.org/wiki/Component_diagram) below.

![waterbodies flow diagram](./waterbodies/component.svg "waterbodies Component diagram")

#### Class diagram

Learn more about the [Class diagram](https://en.wikipedia.org/wiki/Class_diagram) below.

![waterbodies flow diagram](./waterbodies/class.svg "waterbodies Class diagram")

#### Sequence diagram

Learn more about the [Sequence diagram](https://en.wikipedia.org/wiki/Sequence_diagram) below.

![waterbodies flow diagram](./waterbodies/sequence.svg "waterbodies Sequence diagram")

#### State diagram

Learn more about the [State diagram](https://en.wikipedia.org/wiki/State_diagram) below.

![waterbodies flow diagram](./waterbodies/state.svg "waterbodies State diagram")


### Run in step

`crop`



## crop

### CWL Class

[CommandLineTool](https://www.commonwl.org/v1.2/CommandLineTool.html#CommandLineTool)

### Inputs

| Id | Option | Type |
|----|------|-------|
| `item` | `--input-item` | [Directory](https://www.commonwl.org/v1.2/Workflow.html#Directory) |
| `aoi` | `--aoi` | [string](https://www.commonwl.org/v1.2/Workflow.html#CWLType) |
| `epsg` | `--epsg` | [string](https://www.commonwl.org/v1.2/Workflow.html#CWLType) |
| `band` | `--band` | [string](https://www.commonwl.org/v1.2/Workflow.html#CWLType) |

### Execution usage example:

```
waterbodies crop \
--input-item <ITEM> \
--aoi <AOI> \
--epsg <EPSG> \
--band <BAND>
```

### Run in step

`norm-diff`



## norm-diff

### CWL Class

[CommandLineTool](https://www.commonwl.org/v1.2/CommandLineTool.html#CommandLineTool)

### Inputs

| Id | Option | Type |
|----|------|-------|
| `rasters` | `--rasters` | `array` of [File](https://www.commonwl.org/v1.2/Workflow.html#File) |

### Execution usage example:

```
waterbodies norm-diff \
--rasters <RASTERS>
```

### Run in step

`otsu`



## otsu

### CWL Class

[CommandLineTool](https://www.commonwl.org/v1.2/CommandLineTool.html#CommandLineTool)

### Inputs

| Id | Option | Type |
|----|------|-------|
| `raster` | `--raster` | [File](https://www.commonwl.org/v1.2/Workflow.html#File) |

### Execution usage example:

```
waterbodies otsu \
--raster <RASTER>
```

### Run in step

`stac`



## stac

### CWL Class

[CommandLineTool](https://www.commonwl.org/v1.2/CommandLineTool.html#CommandLineTool)

### Inputs

| Id | Option | Type |
|----|------|-------|
| `item` | `--input-item` | [Directory](https://www.commonwl.org/v1.2/Workflow.html#Directory) |
| `water-body` | `--water-body` | [File](https://www.commonwl.org/v1.2/Workflow.html#File) |

### Execution usage example:

```
waterbodies stac \
--input-item <ITEM> \
--water-body <WATER-BODY>
```

